{
    "name": {{{name}}},
    "version": {{{version}}},
    "description": {{{description}}},
    "main": {{{main}}},
    "author": {{{author}}},
    "keywords": {{{keywords}}},
    "license": {{{license}}},
    "private": {{{private}}},
    "contributors": {{{contributors}}},
    "files": {{{files}}},
    "engines": {{{engines}}},
    "scripts": {{{scripts}}},
    "dependencies": {{{dependencies}}},
    "devDependencies": {{{devDependencies}}},
    "peerDependencies": {{{peerDependencies}}}
}

