'use strict'

const service = require('serviser');
const router  = require('../router.js');

var route = router.buildRoute({
    type: 'get',
    url : '/',
    summary: 'Example route definition',
    desc: 'This should be more descriptive route definition'
});

route.respondsWith({});

route.main(function (req, res) {
    res.json({});
});
