const service = require('../index.js');

before(function() {
    this.service = service;
    return this.service.listen();
});

after(function() {
    return this.service.close();
});

describe('', function() {

    it('should TODO', function() {
        //
    });
});
